:root {
    --board_size: 42vw;
}

body {
    background-color: #303030;
    color: #fff;
    overflow: hidden;
}

#name {
    color: white !important;  
    background-color: rgba(0, 0, 0, 0) !important;
}

.button {
    border: 5px solid rgba(0,0,0,0) !important;
}

.active {
    border: 5px solid rgba(0,0,0,0.2) !important;
}

#board tr td {
    width: 1fr;
    height: 1fr;
    background-color: rgba(0,0,0,0.2);
}

#red-pawns tr td {
    width: calc(var(--board_size)/11);
    height: calc(var(--board_size)/11);
    background-color: rgba(255,0,0,0.2);
    text-align: center;
}

#blue-pawns tr td {
    width: calc(var(--board_size)/11);
    height: calc(var(--board_size)/11);
    background-color: rgba(0,0,255,0.2);
    text-align: center;
}

#board {
    background-image: url(../images/board.svg);
    background-size: var(--board_size);
    width: var(--board_size);
    height: var(--board_size);
}

.img-1 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/1.colors-black-blue-red.svg)
}

.img-2 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/2.colors-black-blue-red.svg)
}

.img-3 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/3.colors-black-blue-red.svg)
}

.img-4 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/4.colors-black-blue-red.svg)
}

.img-5 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/5.colors-black-blue-red.svg)
}

.img-6 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/6.colors-black-blue-red.svg)
}

.img-7 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/7.colors-black-blue-red.svg)
}

.img-8 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/8.colors-black-blue-red.svg)
}

.img-9 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/9.colors-black-blue-red.svg)
}

.img-B {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/B.colors-black-blue-red.svg)
}

.img-F {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/F.colors-black-blue-red.svg)
}

.img-S {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/S.colors-black-blue-red.svg)
}

.img-U {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/U.colors-black-blue-red.svg)
}

#red-1-img, #red-4-img, #red-5-img, #red-6-img, #red-7-img, #red-8-img, #red-9-img, #red-spy-img, #red-bomb-img, 
#blue-2-img, #blue-3-img {
    transform: scaleX(-1);
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */ 
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #383c44; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
.sidebar-header {
    position: absolute;
}

  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #383c44;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  