:root {
    --board_size: 550px;
}

#board tr td {
    width: 1fr;
    height: 1fr;
    background-color: rgba(0,0,0,0.2);
}

#red-pawns tr td {
    width: 55px;
    height: 50px;
    background-color: rgba(255,0,0,0.2);
    text-align: center;
}

#blue-pawns tr td {
    width: 55px;
    height: 50px;
    background-color: rgba(0,0,255,0.2);
    text-align: center;
}

#board {
    background-image: url(../images/board.svg);
    background-size: var(--board_size);
    width: var(--board_size);
    height: var(--board_size);
}

.img-1 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/1.colors-black-blue-red.svg)
}

.img-2 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/2.colors-black-blue-red.svg)
}

.img-3 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/3.colors-black-blue-red.svg)
}

.img-4 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/4.colors-black-blue-red.svg)
}

.img-5 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/5.colors-black-blue-red.svg)
}

.img-6 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/6.colors-black-blue-red.svg)
}

.img-7 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/7.colors-black-blue-red.svg)
}

.img-8 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/8.colors-black-blue-red.svg)
}

.img-9 {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/9.colors-black-blue-red.svg)
}

.img-B {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/B.colors-black-blue-red.svg)
}

.img-F {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/F.colors-black-blue-red.svg)
}

.img-S {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/S.colors-black-blue-red.svg)
}

.img-U {
    background-size: cover;
    width: 100%;
    background-image: url(../images/pieces/U.colors-black-blue-red.svg)
}

#red-1-img, #red-4-img, #red-5-img, #red-6-img, #red-7-img, #red-8-img, #red-9-img, #red-spy-img, #red-bomb-img, 
#blue-2-img, #blue-3-img {
    transform: scaleX(-1);
}